::-webkit-scrollbar-track {
  background-color: rgba(237, 240, 242, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
  border-radius: 5px;
}

.App {
  text-align: center;
  /*background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');*/
  background-position: center;
  image-rendering: optimizeQuality;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Roboto', sans-serif;  
}

.card {
  /*backdrop-filter: blur(16px) saturate(180%);*/
  /*-webkit-backdrop-filter: blur(16px) saturate(180%);*/
  background-color: #008DFF
}
/* InputRenderer.css */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #000000 !important;
}

.custom-line-graph-container {
  background: #FFF;
  border-radius: 12px;
  /*padding: 10px 15px 10px 15px;*/
}

.drop-shadow-light {
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.50));
}

.Toastify__toast-body{
  font-family: 'Roboto', sans-serif !important;
  flex: none !important;
}

.Toastify__toast{
  min-height: 60px !important;
}